body {
    font-family: "Gilroy", sans-serif;
    background-color: #fbfbfb;
    margin: 0;
}
/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 20px 0;
}

.header {
    
}



.menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.menu-icon {
    fill: #0c0c0c;
}

.menu-overlay {
    opacity: 0;
    pointer-events: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: calc(100% - 200px);
    width: 200px;
    height: 812px;
    background-image: url(/img/menu-bg.jpg);
    transform: translateX(-100%);

}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
}

.menu-close-btn {
    border: none;
    background: transparent;
    display: flex;
    position: absolute;
    right:calc(100% - 180px);
    top: 20px;
}

.nav-blocks {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    gap: 24px;
    padding: 240px 64px 260px 63px;
}

.nav-link {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fbfbfb;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center ;
    gap: 10px;
}

.icon-social {
    padding: 8px;
    border:  1px solid rgba(251, 251, 251, 0.1);
    border-radius: 10px;
}

.tablet {
    display: none;
}

.desktop {
    display: none;
}

.x6 {
    display: none;
}

.catalog-title {
    margin-top: 30px;
    margin-bottom: 24px;
}

.catalog-item {
    background-color:  #f3f3f3;
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    padding: 24px 28px;
    margin-bottom: 20px;
}

.catalog-item-img {
    display:flex;
    align-items: center;
    justify-content: center;
}

.catalog-item-text {
    display: block;
}

.catalog-item-title {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.catalog-item-price {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

.catalog-button {
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color:  #3350e9;
    border-radius: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fbfbfb;
    padding: 15px 44px;
    border: 0px;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .container {
        width: 100%;
    }
}

@media screen and (min-width: 375px) {
    .container {
        width: 335px;
        padding: 0 20px;
    }


}

@media screen and (min-width: 768px) {
    .container {
        width: 704px;
        padding: 0 32px;
    }

    .menu-overlay {
        left: calc(100% - 330px);
        width: 330px;
        height: 1024px;
        background-image: url(/img/menu-bg-tablet.jpg);    
    }

    .menu-close-btn {
        border: none;
        background: transparent;
        display: flex;
        position: absolute;
        right:calc(100% - 290px);
        top: 26px;
    }

    .nav-blocks {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: center;
        gap: 24px;
        padding: 310px 129px 350px 128px;
    }

    .x6 {
        display: block;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: block;
    }

    .desktop {
        display: none;
    }

    .catalog-button {
        display: none;
    }

    .catalog-item-title{
        font-size: 20px;
        line-height: 100%
    }

    .catalog-blocks {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .catalog-item {
        max-width:  344px;
        padding: 24px 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1150px;
        padding: 0 65px;
    }

    .mobile {
        display: none;
    }

    .tablet {
        display: none;
    }

    .desktop {
        display: block;
    }

    .catalog-item {
        width: calc((100% - 130px) / 3);
        padding: 24px 32px;
    }

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}